<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/projects" | relative_url }}">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/posts" | relative_url }}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/philanthropy" | relative_url }}">Philanthropy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/memories" | relative_url }}">Memories</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="{{"/contact" | relative_url }}">Contact</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="https://stackexchange.com/users/20024607/blunova?tab=accounts">StackOverflow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/{{ site.github_username }}">GitHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.youtube.com/@{{ site.youtube_username }}">YouTube</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/more" | relative_url }}">More</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
