@import "../assets/vendor/startbootstrap-clean-blog/scss/styles.scss";
@import "../assets/vendor/sintax-highlighting/default.scss";

#mainNav .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
